@import '@/styles/theme.scss';

.duya-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  color: #fff;
  height: 50px;
  background-color: $primary;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
}